<div class="hanya-manager-head">
	<span><?=I18n::_("system.admin.login")?></span>
	<a class="hanya-manager-head-close" href="javascript:HanyaWindow.remove()"><?=I18n::_("system.manager.close")?></a>
</div>
<div class="hanya-manager-body">
	<form action="<?=Registry::get("request.referer")?>?command=admin_login" method="POST">
		<div class="hanya-manager-body-row">
			<label for="username"><?=I18n::_("system.admin.username")?></label>
			<input name="username" type="text" />
		</div>
		<div class="hanya-manager-body-row">
			<label for="password"><?=I18n::_("system.admin.password")?></label>
			<input name="password" type="text" />
		</div>
		<div class="hanya-manager-body-row">
			<input type="submit" value="<?=I18n::_("system.admin.login")?>" />
		</div>
	</form>
</div>