<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><?=I18n::_("system.database.title")?></title>
		{head()}
		<link rel="stylesheet" href="{less(system/stylesheets/hanya.backend.less)}" type="text/css" media="screen">
		<script type="text/javascript" charset="utf-8">
		
			// On Startup
			$(document).ready(function(){
				
				// Open Table
				$(".filetree li.table-icon span.entry").click(function(){
					window.location = "?command=database&table="+$(this).data("table");
				});
				
				// Delete Table
				$(".filetree li.table-icon span.delete").click(function(){
					if(confirm("<?=I18n::_('system.database.confirm_delete_table')?>")) {
						window.location = "?command=database_delete_table&table="+$(this).data("table");
					}
				});
				
				// Resize Event
				$(window).resize(doResize);
				doResize();

			});

			// Resize Handler
			function doResize() {
				$(".sidebar, .table").height(0);
				$(".sidebar, .table").height($(document).height()-$(".hanya-toolbar").outerHeight()-$("#hanya-admin h1").outerHeight());
			}
			
		</script>
  </head>
  <body id="hanya-admin">
		{toolbar()}
		<h1>
			<span class="title"><?=I18n::_("system.database.title")?></span>
		</h1>
		<div class="sidebar">
			<h2><?=I18n::_("system.database.tables")?></h2>
			<div class="filetree">
				<?=Database_Plugin::tables($current_table)?>
			</div>
		</div>
		<div class="table">
			<table>
				<thead>
						<tr>
							<? foreach($current_structure as $field => $type): ?>
								<th><?=$field?></th>
							<? endforeach; ?>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<? foreach(ORM::for_table($current_table)->find_many() as $entry): ?>
							<tr>
								<? foreach($current_structure as $field => $type): ?>
									<td><?=$entry->$field?></td>
								<? endforeach; ?>
								<td></td>
							</tr>
						<? endforeach; ?>
					</tbody>
				</table>
			</div>
		</div>
  </body>
</html>