<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><?=I18n::_("system.editor.title")?></title>
		{head()}
		<link rel="stylesheet" href="{less(system/stylesheets/hanya.backend.less)}" type="text/css" media="screen">
		<link rel="stylesheet" href="{asset(system/stylesheets/codemirror.css)}" type="text/css" media="screen">
		<script src="{asset(system/javascripts/codemirror.js)}" type="text/javascript" charset="utf-8"></script>
		<script src="{asset(system/javascripts/codemirror.hanya.js)}" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" charset="utf-8">
			
			// Variables
			var editor;
			
			// On Startup
			$(document).ready(function(){
				
				// Navigator Interactivity
				$(".filetree li.file-icon span").click(function(){
					window.location = "?command=editor&file="+$(this).data("path");
				});				
				
				// Load Source & Start Editor
				$("#codemirror").load("?command=editor_source&file=<?=$current_file?>",{},function(){
					editor = CodeMirror.fromTextArea(document.getElementById("codemirror"),{
						tabSize: 2,
						mode: "<?=$mode?>",
						lineNumbers: true,
						onChange: function() {
							$("h1 a.save").removeClass("disabled");
						},
					});
				});
				
				// Resizee Event
				$(window).resize(doResize);
				doResize();
				
			});
			
			// Resize Handler
			function doResize() {
				$(".sidebar, .container-sided").height(0);
				$(".sidebar, .container-sided").height($(document).height()-$(".hanya-toolbar").outerHeight()-$("#hanya-admin h1").outerHeight());
			}
			
			// Save file
			function save() {
				if(!$("h1 a.save").hasClass("disabled")) {
					$.ajax({
						url: "?command=editor_save&file=<?=$current_file?>",
						type: "POST",
						data: { source: editor.getValue() },
						success: function(data) {
							if(data=="ok") {
								$("h1 a.save").addClass("disabled");
							} else {
								alert("An error ocurred while saving.");
							}
						}
					});
				}
			}
			
		</script>
  </head>
  <body id="hanya-admin">
		{toolbar()}
		<h1>
			<span class="title"><?=I18n::_("system.editor.title")?></span>
			<a class="save button disabled" href="javascript:save()"><?=I18n::_("system.editor.save")?></a>
		</h1>
		<div class="sidebar">
			<h2><?=I18n::_("system.editor.tree")?></h2>
			<div class="filetree">
				<?=Editor_Plugin::tree($current_file,"tree")?>
			</div>
			<h2><?=I18n::_("system.editor.elements")?></h2>
			<div class="filetree">
				<?=Editor_Plugin::tree($current_file,"elements")?>
			</div>
			<h2><?=I18n::_("system.editor.user")?></h2>
			<div class="filetree">
				<?=Editor_Plugin::tree($current_file,"user")?>
			</div>
		</div>
		<div class="container-sided">
			<textarea name="sourcecode" id="codemirror"></textarea>
		</div>
		<div class="clear"></div>
  </body>
</html>