/* ADMIN INTERFACE */

#hanya-admin {
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	font-size: 14px;
	background-image: url(../images/background.png);
	min-width: 1000px;
}

#hanya-admin h1 {
	font-size: 36px;
	font-weight: bold;
	text-shadow: 1px 1px 0px white;
	margin: 25px;
}

#hanya-admin strong {
	font-weight: bold;
}

#hanya-admin .box {
	border: 1px solid #ddd;
	margin: 25px;
	background-color: white;
	overflow: hidden;
}

#hanya-admin .clear {
	clear: both;
}

#hanya-admin .content {
 	padding: 15px;
}

#hanya-admin .wrapper {
	margin: 25px;
	overflow: hidden;
}

#hanya-admin h2 {
	font-size: 16px;
	font-weight: bold;
	text-shadow: 1px 1px 0px white;
	margin: 10px 0px;
}

/* GRID SYSTEM */

#hanya-admin .w1 {
	float: left;
	margin-right: 1%;
  width: 24%;
}

#hanya-admin .w2 {
	float: left;
	margin-right: 1%;
	width: 49%;
}

#hanya-admin .w3 {
	float: left;
	margin-right: 1%;
	width: 74%;
}

#hanya-admin .w4 {
	float: left;
	width: 100%;
}

#hanya-admin .w1-last {
	float: left;
	width: 25%;
}

#hanya-admin .w2-last {
	float: left;
	width: 50%;
}

#hanya-admin .w3-last {
	float: left;
	width: 75%;
}

#hanya-admin hr {
	border: 0;
	height: 15px;
	margin: 0;
}