<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><?=I18n::_("system.updater.title")?></title>
		{head()}
		<link rel="stylesheet" href="{less(system/stylesheets/hanya.backend.less)}" type="text/css" media="screen">
		<script type="text/javascript" charset="utf-8">
			
			// On Startup
			$(document).ready(function(){
				
				// Get Version
				$("#version").load("?command=updater_check");
				
				// Hide Output
				$("#output, #output-title").hide();
				
				// Resizee Event
				$(window).resize(doResize);
				doResize();

			});

			// Resize Handler
			function doResize() {
				$(".container").height(0);
				$(".container").height($(document).height()-$(".hanya-toolbar").outerHeight()-$("#hanya-admin h1").outerHeight());
			}
			
			// Perform Update
			function update() {
				showOutput();
				showLoader();
				$("#output").load("?command=updater_update");
			}
			
			// Perform Review
			function review() {
				showOutput();
				showLoader();
				$("#output").load("?command=updater_review");
			}
			
			// Show Output
			function showOutput() {
				$("#output, #output-title").show();
			}
			
			// Show Loader
			function showLoader() {
				$("#output").html($("<img>").attr("src","assets/system/images/loader.gif"));
			}
			
		</script>
  </head>
  <body id="hanya-admin">
		{toolbar()}
		<h1>
			<span class="title"><?=I18n::_("system.updater.title")?></span>
		</h1>
		<div class="container">
			<div class="updater">
				<h2><?=I18n::_("system.updater.check_for_version")?></h2>
				<div id="version">
					<p><?=I18n::_("system.updater.checking")?></p>
				</div>
				<div id="output">
					<p><?=I18n::_("system.updater.no_output")?></p>
				</div>
			</div>
		</div>
  </body>
</html>