<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Hanya: <?=I18n::_("system.updater.title")?></title>
		{tag:head()}
		<link rel="stylesheet" href="public/system/stylesheets/hanya.admin.css" type="text/css" media="screen">
		<style type="text/css" media="screen">
		
			#version, #output {
				background-color: white;
				border: 1px solid #ddd;
				padding: 15px;
			}
			
			#output p {
				margin: 5px 0;
			}
			
		</style>
		<script type="text/javascript" charset="utf-8">
			
			// On Startup
			$(document).ready(function(){
				
				// Get Version
				$("#version").load("?command=updater_version");
				
				// Hide Output
				$("#output, #output-title").hide();
				
			});
			
			// Perform Update
			function update() {
				showOutput();
				$("#output").load("?command=updater_update");
			}
			
			// Perform Review
			function review() {
				showOutput();
				$("#output").load("?command=updater_review");
			}
			
			// Show Output
			function showOutput() {
				$("#output, #output-title").show();
			}
			
		</script>
  </head>
  <body id="hanya-admin">
		<div class="hanya-toolbar" >
			<div class="hanya-toolbar-left" >
				<?=HTML::anchor(".",I18n::_("system.admin.back_to_site"))?>
			</div>
		</div>
		<h1><?=I18n::_("system.updater.title")?></h1>
		<div class="wrapper">
			<div class="w4">
				<h2><?=I18n::_("system.updater.check_for_version")?></h2>
				<div id="version">
					<p><?=I18n::_("system.updater.checking")?></p>
				</div>
				<hr/>
				<h2 id="output-title"><?=I18n::_("system.updater.output")?></h2>
				<div id="output">
					<p><?=I18n::_("system.updater.no_output")?></p>
				</div>
			</div>
		</div>
  </body>
</html>