/* GENERAL */

body {
	background-color: #eee;
	background-image: url(system/images/background.png);
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	font-size: 14px;
	color: #222;
}

strong {
	font-weight: bold;
}

/* HEADER */

.hanya-admin-login {
	padding: 10px 20px;
	text-align: right;
}

.hanya-admin-login a {
	visibility: hidden;
	color: black;
}

.hanya-admin-login:hover a {
	visibility: visible;
	cursor: pointer;
}

header {
	text-align: center;
}

header h1 {
	font-size: 64px;
	font-weight: bold;
	text-align: center;
	padding-top: 75px;
	text-shadow: 2px 2px 0 white;
}

header p {
	font-size: 32px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 40px;
	text-shadow: 1px 1px 0 white;
}

header ul {
	background-color: #222;
	text-align: center;
	display: inline;
	padding: 5px 15px;
	border-radius: 20px;
	box-shaodw: 0px 2px 2px #999;
	background: -moz-linear-gradient(#444, #222);
  background: -webkit-gradient(linear, left top, left bottom, #444, #222);
  background: -webkit-linear-gradient(top, #444, #222);
  background: -o-linear-gradient(top, #444, #222);
  background: -ms-linear-gradient(top, #444, #222);
  background: linear-gradient(top, #444, #222);
}

header ul li {
	display: inline;
	padding: 5px 10px;
	text-shadow: -1px -1px 0 black;
}

header ul li:hover, header ul li#current {
  background: -moz-linear-gradient(#555, #333);
  background: -webkit-gradient(linear, left top, left bottom, #555, #333);
  background: -webkit-linear-gradient(top, #555, #333);
  background: -o-linear-gradient(top, #555, #333);
  background: -ms-linear-gradient(top, #555, #333);
  background: linear-gradient(top, #555, #333);
}

header ul li a {
	color: white;
	text-decoration: none;
}

/* CONTENT */

#content {
	background: white;
	width: 800px;
	margin: 0 auto;
	margin-top: -7px;
	border-radius: 20px;
	padding: 35px;
	box-shadow: 0px 0px 5px #bbb;
}

#content h1 {
	font-size: 28px;
	margin: 10px 0;
	font-weight: bold;
}

#content h2 {
	font-size: 20px;
	margin: 10px 0;
	margin-top: 20px;
	font-weight: bold;
}

#content h3 {
	font-size: 14px;
	margin: 10px 0;
	margin-top: 20px;
	font-weight: bold;
}

#content p {
	margin: 10px 0;
}

#content pre {
	background-color: #eee;
	padding: 10px;
	margin: 10px 0;
	line-height: 1.2;
	font-family: "Courier";
	font-size: 14px;
	border-radius: 3px;
}

#content ul {
	list-style: disc;
	padding-left: 20px;
}

#content ol {
	list-style: decimal;
	padding-left: 20px;
}

/* FOOTER */

footer p {
	text-align: center;
	font-size: 12px;
	margin-top: 20px;
	color: #777;
	margin-bottom: 30px;
}