<h1>Hanya</h2>
<p>A Rapid Website Engine</p>
<ul>
	<li id="{tag:if(site_id|index|current)}"><a href="{tag:link()}">Home</a></li>
	<li id="{tag:if(site_id|files|current)}"><a href="{tag:link(files)}">Files</a></li>
	<li id="{tag:if(site_id|tags|current)}"><a href="{tag:link(tags)}">Tags</a></li>
	<li id="{tag:if(site_id|database|current)}"><a href="{tag:link(database)}">Database</a></li>
	<li id="{tag:if(site_id|specials|current)}"><a href="{tag:link(specials)}">Specials</a></li>
	<li id="{tag:if(site_id|extending|current)}"><a href="{tag:link(extending)}">Extending</a></li>
</ul>