/* LOGIN LINK */

.hanya-admin-login a {
	display: block;
	width: 41px;
	height: 41px;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;
	text-align: right;
}

.hanya-admin-login a span {
	display: none;
}

.hanya-admin-login a:hover {
	background: url(../images/badge.png) no-repeat;
	cursor: pointer;
}

/* TOOLBAR */

.hanya-toolbar, .hanya-errorbar {
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 14px;
	background-color: black;
	padding: 10px 15px;
	padding-top: 11px;
	color: white;
	overflow: hidden;
	height: 16px;
	line-height: normal;
}

.hanya-toolbar a, .hanya-toolbar span {
	border: 0;
	padding: 0;
	margin: 0px 10px;
	color: white;
	cursor: pointer;
	text-decoration: none;
}

.hanya-toolbar .hanya-toolbar-info {
  color: #666;
}

.hanya-toolbar a:hover {
	text-decoration: underline;
}

.hanya-toolbar-left, .hanya-toolbar-right {
	margin: 0;
	float: left;
	width: 33%;
	height: 16px;
}

.hanya-toolbar-right {
  float: right;
  width: 66%;
}

.hanya-toolbar-right {
	text-align: right;
}

.hanya-errorbar {
  background-color: darkred;
}

/* INLINE OBJETS */

.hanya-editable {
  outline: 1px solid #ddd;
  padding: 2px;
  margin: 1px 0;
}

.hanya-editable:hover {
  outline-color: black;
}

.hanya-createable {
  cursor: pointer;
  position: relative;
}

.hanya-definition-toolbar {
  padding: 0px !important;
  width: 120px;
  position: absolute;
  list-style: none !important;
}

.hanya-definition-toolbar li {
  margin-top: 1px;
  width: 25px;
  height: 25px;
  float: left;
  background-color: #444;
  z-index: 2000;
}

.hanya-definition-toolbar li:hover {
  background-color: black;
  cursor: pointer;
}

.hanya-definition-toolbar li span {
  display: block;
  width: 100%;
  height: 100%
}

.hanya-definition-toolbar-edit span {
  background: url(../images/small-icons.png) -161px 162px;
}

.hanya-definition-toolbar-delete span {
  background: url(../images/small-icons.png) -132px -90px;
}

.hanya-definition-toolbar-orderup span {
  background: url(../images/small-icons.png) -256px -7px;
}

.hanya-definition-toolbar-orderdown span {
  background: url(../images/small-icons.png) -225px -6px;
}

/* MANAGER */

.hanya-overlay {
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
}

.hanya-manager {
  font-family: "Helvetica", Arial, sans-serif;
	background-color: white;
	position: absolute;
	box-shadow: 0 0 15px #222;
	overflow: scroll;
	font-size: 14px;
	line-height: normal;
}

.hanya-manager-head {
	background-color: black;
	padding: 10px 15px;
	color: white;
}

.hanya-manager-head-close {
  display: block;
  width: 20px;
  height: 15px;
	text-decoration: none;
	float: right;
	margin-right: -5px;
	text-indent: -9000px;
	background: url(../images/small-icons.png) -40px -95px;
}

.hanya-manager-body {
	padding: 15px 15px;
}

.hanya-manager-body-row {
	padding: 4px 0px;
}

.hanya-manager-hidden-row {
  display: none;
}

.hanya-manager-body input[type="text"], .hanya-manager-body input[type="password"], .hanya-manager textarea {
	width: 98%;
	border: 1px solid #999;
	padding: 1%;
	border-radius: 3px;
	font-family: monospace;
	font-size: 14px;
}

.hanya-manager-body textarea {
	height: 100px;
}

.hanya-manager-body label {
	display: block;
	padding: 2px 0;
	color: black;
}

.hanya-manager-body button, .hanya-manager-body input[type="submit"] {
	margin: 0;
	margin-top: 5px;
	margin-right: 5px;
}

.hanya-manager-body input[type="radio"] {
	margin-right: 5px;
	margin-left: 15px;
}

.hanya-manager-body .radiogroup input[type="radio"]:first-child {
	margin-left: 0;
}
